<div id="results">
  <div class="flex-container">
    <div>{{ luckyNumber.charAt(0) }}</div>
    <div>{{ luckyNumber.charAt(1) }}</div>
    <div>{{ luckyNumber.charAt(2) }}</div>
    <div>{{ luckyNumber.charAt(3) }}</div>  
  </div>
  <br/>
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <th scope="row">Number of Digits</th>
        <td class="table-warning">{{ numSelected }}</td>
        </tr>
      <tr>
        <th scope="row">Number of Plays</th>
        <td>{{ daysToPlay }}</td>
      </tr>
      <tr>
        <th scope="row">Days until hit</th>
        <td [ngClass]="{
          'result-square': foundMatch,
          'failed-square': !foundMatch
        }">{{ dayNumberHit }}</td>
      </tr>
      <tr>
        <th scope="row">Date you hit assuming one play per day</th>
        <td>{{ dateHit }}</td>
      </tr>
    </tbody>
  </table>
</div>