<br/>
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropNumofBalls" ngbDropdownToggle>{{ selectedDigits }}</button>
        <div ngbDropdownMenu aria-labelledby="dropNumofBalls">
            <button class="dropdown-item" *ngFor="let num of numberOfDigits" (click)="selection = num" >{{num}}</button>
        </div>
    </div>
    <span class="picker">
      <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
    </span>
    <span class="picker">
        <button class="btn btn-primary" id="generate" 
          (click)="generateLottoNumbers(selection)" 
          [disabled]="!selection.length">Play Lotto DAILY until date selected!
        </button>
    </span>
  </div>
</div>
<app-dailyresults [luckyNumber]="lottoNums" [numSelected]="selection"></app-dailyresults>